@@include('../include/_head.html', {
	"page": "tax"
})
</head>
<body class="page-tax">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <div class="container">
            <h2 class="con-tit">사업자 등록증 안내</h2> 
           
            <!-- sub content -->
            <div class="con-area">
                <div class="tax-area">
                    <div class="table-row">
                        <table class="table-style">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th><span class="lbl">상호(법인명)</span></th>
                                    <td><p class="td-txt">주식회사 에이엠씨글로벌</p></td>
                                </tr>
                                <tr>
                                    <th><span class="lbl">성명(대표자)</span></th>
                                    <td><p class="td-txt">장 관 우</p></td>
                                </tr>
                                <tr>
                                    <th><span class="lbl">사업자등록번호</span></th>
                                    <td><p class="td-txt">843-88-00083</p></td>
                                </tr>
                                <tr>
                                    <th><span class="lbl">사업장주소</span></th>
                                    <td><p class="td-txt">경기도 김포시 고촌읍 아라육로 152번길 210-50, 호텔마리나베이 서울</p></td>
                                </tr>
                                <tr>
                                    <th><span class="lbl">업태</span></th>
                                    <td><p class="td-txt">숙박 및 음식점업</p></td>
                                </tr>
                                <tr>
                                    <th><span class="lbl">종목</span></th>
                                    <td><p class="td-txt">호텔업</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="info-box">
                    <div class="bul-txt">
                        주의사항
                        <ul class="info-list">
                            <li>1. 반드시, 해당 호실 소유주명과 확정수익금 계좌 예금주의 성명과 기등록된 생년월일이 일치해야 합니다.</li>
                            <li>2. 확정 수익금 계좌 정보 잘못 기재로 인하여 수익금 지급에 문제가 발생하지 않도록 정확하게 계좌정보를 등록하여 주시기 바랍니다.</li>
                            <li>3. 통장 사본은 확정수익금 지급계좌정보 확인시 필요하니 등록해 주시기 바랍니다. </li>
                        </ul>
                    </div>
                </div>

                <div class="btn-box">
                    <a href="javascript:;" onclick="popFn('#pop_bcr');" class="btn-gold">전자 세금계산서 발급용 사업자등록증</a>
                    <a href="javascript:;" onclick="popFn('#pop_mail');" class="btn-gold">전자 세금계산서 전송 메일</a>
                </div>
            </div>
        </div>
	</div>
	<!--//.contents-->   
        
    <!-- 전자 세금계산서 발급용 사업자등록증 팝업 -->
    <!-- 메뉴의 전자세금계산서를 클릭할경우 pop-wrap 멀티클래스 on 추가 -->
    <div id="pop_bcr" class="pop-wrap">
        <div class="pop-container">
            <div class="pop-con">
                <figure class="pop-img">
                    <img src="http://img.ramadapt.co.kr/owner/tax/img_brc_01.jpg" alt="사업자등록증">
                </figure>
                <div class="btn-box">
                    <a href="http://img.ramadapt.co.kr/owner/tax/img_brc_01.jpg" class="btn-black" download>다운로드</a>
                    <a href="javascript:;" class="btn-gold close">확인</a>
                </div>
            </div>
            <a href="javascript:;" class="btn-close a-i-x close"><span>닫기</span></a>
        </div>
    </div> 
    <!--//END : 전자 세금계산서 발급용 사업자등록증 팝업 -->
        
    <!-- 전자 세금계산서 전송 메일 팝업 -->
    <!-- 메뉴의 전자세금계산서 전송메일을 클릭할경우 pop-wrap 멀티클래스 on 추가 -->
    <div id="pop_mail" class="pop-wrap">
        <div class="pop-container">
            <div class="pop-con">
                <p class="p-0">
                    호텔 마리나베이 서울<br>
                    전자세금계산서 전송 E-MAIL
                </p>
                <div class="mail-box">
                    <p class="mail-txt">varonet00@hometax.go.kr </p>
                    <p class="p-1">(반드시, 상기 이메일로 전자세금계산서를 전송하여 주시기 바랍니다.)</p>
                </div>
                
                <div class="info-box">
                    <div class="bul-txt">
                        주의사항
                        <ul class="info-list">
                            <li>1. 상기 전자 세금계산서 전송용 e-Mail로 미전송시, 확정 수익금 지급 지연/누락될 수 있으니, <br>반드시 전자 세금계산서 전송용 e-Mail을 확인하여 처리하여 주시기 바랍니다.</li>
                        </ul>
                    </div>
                </div>
                
                <div class="btn-box">
                    <a href="javascript:;" class="btn-gold close">확인</a>
                </div>
            </div>
            <a href="javascript:;" class="btn-close a-i-x close"><span>닫기</span></a>
        </div>
    </div> 
    <!--//END : 전자 세금계산서 전송 메일 팝업 -->

	@@include('../include/_footer.html') 
</div>

</body>
</html>