@@include('../include/_head.html', {
	"page": "tax"
})
</head>
<body class="page-tax">

<div class="wrapper">
	@@include('../include/_header.html')

    <!-- 세금계산서페이지 -->
	<div class="contents">
        <div class="container">
            <!-- tab -->
            <div class="tab-area">
                <ul class="tab-menu">
                    <li class="tab-1 on"><a href="#taxCal">전자 세금계산서</a></li>
                    <li class="tab-2"><a href="#taxMail">전자 세금계산서 전송 메일</a></li>
                    <li class="tab-3"><a href="#taxInfo">전자 세금계산서 발행 안내</a></li>
                </ul>
            </div>
            
            <!-- 전자 세금계산서 -->
            <section id="taxCal" class="con-sec sec-cal">
                <h2 class="con-tit">전자 세금계산서</h2> 
                <!-- sub content -->
                <div class="con-area">
                    <div class="tax-area">
                        <div class="tax-tbl-box tbl-left">
                            <div class="table-row">
                                <table class="table-style">
                                    <colgroup>
                                        <col class="nth-3">
                                        <col class="nth-1">
                                        <col class="nth-2">
                                        <col class="nth-1">
                                        <col class="nth-2">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th rowspan="6"><span class="lbl">공급자</span></th>
                                        </tr>
                                        <tr>
                                            <th><span class="lbl">등록번호</span></th>
                                            <td><p class="td-txt">0000-0000-0000</p></td>
                                            <th><span class="lbl">종사업장<br>번호</span></th>
                                            <td><p class="td-txt">0000-0000-0000</p></td>
                                        </tr>
                                        <tr>
                                            <th><span class="lbl">상호</span></th>
                                            <td><p class="td-txt">(주)ㄱㄷㄴㅇㄹ</p></td>
                                            <th><span class="lbl">성명</span></th>
                                            <td><p class="td-txt">ㄴㅇㄹ</p></td>
                                        </tr>
                                        <tr>
                                            <th><span class="lbl">사업장</span></th>
                                            <td colspan="3"><p class="td-txt">서울시 강남구 ㄴㅇㄹ ㄴㅇㄹㄴㅇㄹㄴㅇㄹㄴ<br>(ㄴㅇㄹㄴㅇㄹㄴ)</p></td>
                                        </tr>
                                        <!-- 높이값 -->
                                        <tr class="tr-li-1">
                                            <th><span class="lbl">업태</span></th>
                                            <td><p class="td-txt">숙박 및 음식점</p></td>
                                            <th><span class="lbl">종목</span></th>
                                            <td><p class="td-txt">호텔업</p></td>
                                        </tr>
                                        <tr class="tr-li-1">
                                            <th><span class="lbl">이메일</span></th>
                                            <td colspan="3"><p class="td-txt">dlskjdlsjd@naver.com</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tax-tbl-box tbl-right">
                            <div class="table-row">
                                <table class="table-style">
                                    <colgroup>
                                        <col class="nth-3">
                                        <col class="nth-1">
                                        <col class="nth-2">
                                        <col class="nth-1">
                                        <col class="nth-2">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th rowspan="6"><span class="lbl">공급받는자</span></th>
                                        </tr>
                                        <tr>
                                            <th><span class="lbl">등록번호</span></th>
                                            <td><p class="td-txt">789-85-00852</p></td>
                                            <th><span class="lbl">종사업장<br>번호</span></th>
                                            <td><p class="td-txt">789-85-00852</p></td>
                                        </tr>
                                        <tr>
                                            <th><span class="lbl">상호</span></th>
                                            <td><p class="td-txt">(주)바로네트웍스<br>(평택지점)</p></td>
                                            <th><span class="lbl">성명</span></th>
                                            <td><p class="td-txt">전 병권</p></td>
                                        </tr>
                                        <tr>
                                            <th><span class="lbl">사업장</span></th>
                                            <td colspan="3"><p class="td-txt">경기도 평택시 포승읍 평택항로 184번길,3-10 1206호<br>(라마다평택호텔앙코르)</p></td>
                                        </tr>
                                        <!-- 높이값 -->
                                        <tr class="tr-li-1">
                                            <th><span class="lbl">업태</span></th>
                                            <td><p class="td-txt">숙박 및 음식점</p></td>
                                            <th><span class="lbl">종목</span></th>
                                            <td><p class="td-txt">호텔업</p></td>
                                        </tr>
                                        <tr class="tr-li-1">
                                            <!-- 배경색 있는 창 -->
                                            <th class="bg-y"><span class="lbl">이메일</span></th>
                                            <td colspan="3" class="bg-y"><p class="td-txt">help@go.co.kr<em class="txt-mail">◀ 전자세금산서 발급 이메일 주소 입력창</em></p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 전자 세금계산서 전송 메일 -->
            <section id="taxMail" class="con-sec sec-mail">
                <h2 class="con-tit">전자 세금계산서 전송 메일</h2> 
                <!-- sub content -->
                <div class="con-area">
                    <div class="tax-area">
                        <p class="p-0">세금계산서 발급 시, <span>‘공급받는자 이메일’에 평택라마다앙코르호텔 이메일주소를 입력</span>해주세요.</p>
                        <div class="mail-box">
                            <em>help@go.co.kr</em>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="bul-txt">
                            주의사항
                            <ul class="info-list">
                                <li>1. 상기 전자 세금계산서 전송용 e-Mail로 미전송시, 확정 수익금 지급 지연/누락될 수 있으니, 반드시 전자 세금계산서 전송용 e-Mail을 확인하고<br>처리하여 주시기 바랍니다.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- 전자 세금계산서 발행 안내 -->
            <section id="taxInfo" class="con-sec sec-info">
                <h2 class="con-tit">전자 세금계산서 발행 안내</h2> 
                <!-- sub content -->
                <div class="con-area">
                    <div class="tax-area">
                        <ul class="tax-info-list">
                            <li class="nth-1">
                                <p class="t-num"><span>STEP 01</span</p>
                                <p class="t-txt">홈텍스를 열고, 로그인 하기</p>
                                <figure class="t-img">
                                    <img src="http://img.ramadapt.co.kr/owner/tax/img_taxinfo_01.png" alt="step01">
                                </figure>
                            </li>
                            <li class="nth-2">
                                <p class="t-num"><span>STEP 02</span></p>
                                <p class="t-txt">조회/발급 클릭 후 전자 세금계산서 작성하기</p>
                                <figure class="t-img">
                                    <img src="http://img.ramadapt.co.kr/owner/tax/img_taxinfo_02.png" alt="step02">
                                </figure>
                            </li>
                            <li class="nth-3">
                                <p class="t-num"><span>STEP 03</span></p>
                                <p class="t-txt">발행 된 전자 세금계산서 확인하기</p>
                                <figure class="t-img">
                                    <img src="http://img.ramadapt.co.kr/owner/tax/img_taxinfo_03.png" alt="step03">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
	</div>
	<!--//.contents-->   

	@@include('../include/_footer.html') 
</div>

</body>
</html>