@charset "utf-8";
// reset common.css 에만
@import "reset";
// 페이지 공통 common
@import "parts/common";

/* 초기화 */
input, select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0;}
select::-ms-expand {display: none;}

/* label, input, select, textarea */
// write textarea, input style 공통
%write-in-style {
    color: $fc-black-1;
    border-radius: 1px;
    border: 1px solid $bg-gray-5;
    background: #fff;
}
/* input */
input {
    padding: 0 19px;
    color: $fc-black-2;
    vertical-align: middle;
    
    &:-webkit-input-placeholder, &:-ms-input-placeholder, &:placeholder {
        color: $fc-gray-2;
    }
}
.in-txt {
    border-radius: 3px;
    border: 2px solid $bg-gray-2;
    background: $bg-gray-2;
    &:focus {
        //background: $bg-yellow-1;
        border-color: $bc-gold-1;
        outline: none;
    }
}
.in-txt-2 {
    @extend %write-in-style;
    padding: 0 22px;
}
/* textarea */
.ta-txt {
    @extend %write-in-style;
    @include bx;
    resize: none;
    width: 100%;
    min-height: 375px;
    padding: 24px 22px;
}

/* common */
body {
    font-size: 15px;
    line-height: 1;
    letter-spacing: -0.5px;
    font-family: $font-ntss;
    color: $fc-black-1;
}

/* header */
.header {
    .top-area {
        position: relative;
        padding: 73px 0 23px;
        background: #fff;
        .logo {
            @include absolute-tl(23px, 50%, 135px);
            width: 135px;
            a {
                display: inline-block;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        
        .until-box {
            @include centerThis;
            @include clearfix;
            //left
            .l-box {
                @include float;
                .btn-link {
                    @include btn-com($dis : block, $wd : 154px, $he : 32px, $f-s : 12px);
                    @include absolute-tl(-45px, 0, 0);
                    letter-spacing: 0;
                }
                .tell-txt {
                    span {
                        margin-left: 36px;
                        color: $fc-gray-1;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
            //right
            .r-box {
                @include float(right);
                .until-menu {
                    li {
                        @include float;
                        padding: 0 12px 0 8px;
                        color: $fc-gray-1;
                        @include con-line(1px, 14px, 50%, 0, $bg-gray-1);
                        &:first-child:before {
                            content: none;
                        }
                        a {
                            &:hover {
                                color: $fc-black-2;
                            }
                        }
                    }
                    .li-st {
                        color: $fc-red-1;
                        font-weight: 600;
                        a {
                            &:hover {
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
    
    //gnb area
    .gnb {
        @include bx;
        @include clearfix;
        z-index: 99;
        background: $bg-red-1;
        .menu {
            @include centerThis;
            @include clearfix;
            li[class*='item-'] {
                @include float;
                width: (100%/5);
                text-align: center;
                a {
                    @include bx;
                    display: block;
                }
                > a {
                    font-size: 17px;
                    line-height: 60px;
                    color: #fff;
                    @include con-line(1px, 14px, 50%, -1px, #9a3232);
                }
                &:first-child {
                    > a {
                         &:before {
                            content: none;
                        }
                    }
                }
                .sub-menu {
                    z-index: 999;
                    display: none;
                    position: absolute;
                    width: 100%;
                    padding: 16px 0;
                    text-align: center;
                    background: #eae6e1;
                    li {
                        a {
                            padding: 0 15px;
                            font-size: 16px;
                            line-height: 52px;
                            color: $fc-black-2;
                            span {
                                @include bx;
                                display: block;
                                letter-spacing: -1px;
                                border-top: 1px solid #a3a2a1;
                            }
                        }
                        
                        &:first-child {
                            a {
                                span {
                                    border-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* contents */
.contents {
    position: relative;
    
    //공통
    .con-tit {
        font-size: 46px;
        font-weight: 500;
        text-align: center;
        line-height: 1;
    }
    
    //서브페이지 공통
    .container {
        
        .con-area {
            @include centerThis;

            .info-box {
                margin-top: 26px;
                text-align: left;
                font-size: 17px;
                line-height: 30px;
                .bul-txt {
                    @include l-bul($t : 13px);
                    em {
                        color: $fc-red-1;
                    }
                    .info-list {
                        margin-top: 5px;
                    }
                }
            }

            .d-chk {
                margin-top: 10px;

                > p {
                    @include bx;
                    @include chk-box;
                }

            }

            .btn-box {
                @include clearfix;
                text-align: center;
                .left {
                    float: left;
                }
                .right {
                    float: right;
                }
                //공통 버튼 
                .btn-gold {
                    @include btn-com($wd : 294px, $he : 70px);
                }
            }
        }
    }
}
/* ie9/ie8 */
.ie9 .contents, .ie8 .contents {
    select[class*='sel-'] {
        background-image: none !important;
        &.sel-search {
            padding: 8px 0;
        }
    }
}
/* ie8 */
.ie8 .contents { 
    .container {
        .con-area {
            .d-chk {
                > p {
                    @include chk-box-ie;
                }
            }
        }
    }
}
    
/* safari */
.safari .contents {
    input {
        line-height: 1 !important;
    }
    
    input[type=checkbox]:checked + label:before {
        background: $bg-black-1 !important;
    }
}

/* footer */
#footer {
    padding: 50px 0px 45px 0px;
    background: #f0f0f0;
    * {
        font-size: 15px !important; 
        line-height: 20px !important; 
        color: #b8b8b8;
    }
    .left_area {
        .row {
            .logo_f_main {
                display: inline-block;
            }
            .logo_f {
                display: none;
            }
            a.privacyBtn {
                background: #f4f4f4;
                color: #a1a1a1;
            }
        }
    }
    .right_area {
        width: auto;
        .row {
            .s_1 {
                color: #555;
                &:first-child {
                    color: #727272;
                }
            }
        }
    }
    small {
        margin-top: 0;
    }
}
/* 이용약관 */
.privacy-bg {
    .cm-s {
        .d-top{
            background: #353535;
        }
    }
}