<header class="header">
	<div class="top-area">
	    <h1 class="logo"><a href="../main/index.html"><img src="http://img.ramadapt.co.kr/logo.png" alt="RAMADA envore HOTEL PYEONGTAEK"></a></h1>
	    <div class="until-box">
	        <div class="l-box">
	            <a href="http://www.ramadapt.co.kr/" target="_blank" class="btn-link" title="페이지 이동">HOTEL HOMPAGE</a>
	            <p class="tell-txt">
	                <span>TEL 031-220-3600</span>
	                <span>FAX 031-229-3939</span>
	            </p>
	        </div>
	        <div class="r-box">
	            <ul class="until-menu">
	                <li class="li-st"><a href="#none">체인시설 할인예약</a></li>
	                <li><a href="#none">명의변경신청</a></li>
	                <li><a href="#none">회원정보수정</a></li>
	            </ul>
	        </div>
	    </div>
	</div>
	<div class="gnb">
	    <ul class="menu">
	        <li class="item-1">
	            <a href="#none">통장등록</a>
	            <ul class="sub-menu">
	                <li><a href="#none"><span>통장확인</span></a></li>
	                <li><a href="#none"><span>통장변경</span></a></li>
	            </ul>
	        </li>
	        <li class="item-2">
	            <a href="#none">사업자 등록증 안내</a>
	            <ul class="sub-menu">
	                <li><a href="#none"><span>전자 세금계산서</span></a></li>
	                <li><a href="#none"><span>전자 세금계산서 전송 메일</span></a></li>
	            </ul>
	        </li>
	        <li class="item-3">
	            <a href="#none">수익금 확인</a>
	        </li>
	        <li class="item-4">
	            <a href="../notice/index.html">공지사항</a>
	            <ul class="sub-menu">
	                <li><a href="#none"><span>공지사항</span></a></li>
	                <li><a href="#none"><span>FAQ</span></a></li>
	                <li><a href="#none"><span>문의사항</span></a></li>
	            </ul>
	        </li>
	        <li class="item-5">
	            <a href="#none">로그인</a>
	        </li>
	    </ul>
	</div>
</header>
<!--//.header-->