<header class="header">
	<div class="top-area">
	    <h1 class="logo"><a href="../main/index.html"><img src="http://img.ramadapt.co.kr/logo.png" alt="RAMADA envore HOTEL PYEONGTAEK"></a></h1>
	    <div class="until-box">
	        <div class="l-box">
	            <a href="http://www.ramadapt.co.kr/" target="_blank" class="btn-link" title="페이지 이동">HOTEL HOMPAGE</a>
	            <p class="tell-txt">
	                <span>TEL 031-220-3600</span>
	                <span>FAX 031-229-3939</span>
	            </p>
	        </div>
	        <div class="r-box">
	            <ul class="until-menu">
	                <li class="li-st"><a href="#none">체인시설 할인예약</a></li>
	                <!-- 190322 회원정보수정 -->
	                <li><a href="../join/index.html">회원정보수정</a></li>
	                <!-- 190315 메뉴 주석처리 -->
	                <!--<li><a href="#none">명의변경신청</a></li>
	                -->
	            </ul>
	        </div>
	    </div>
	</div>
	<div class="gnb">
	    <ul class="menu">
	        <li class="item-1">
	            <a href="../book/index.html">통장등록</a>
	        </li>
	        <li class="item-2">
	            <a href="../tax/index.html">사업자 등록증 안내</a>
	            <ul class="sub-menu">
                    <!-- 해당 메뉴 클릭시 사업자 등록증 안내 페이지로 이동해서 팝업 나타나게 -->
	                <li><a href="../tax/index.html"><span>전자 세금계산서</span></a></li>
	                <li><a href="../tax/index.html"><span>전자 세금계산서 전송 메일</span></a></li>
	            </ul>
	        </li>
	        <li class="item-3">
	            <a href="../proceeds/index.html">수익금 확인</a>
	        </li>
	        <li class="item-4">
	            <a href="../board/index.html">공지사항</a>
	            <ul class="sub-menu">
	                <li><a href="../board/index.html"><span>공지사항</span></a></li>
	                <li><a href="../board/index_2.html"><span>FAQ</span></a></li>
	                <li><a href="../board/index_3.html"><span>문의하기</span></a></li>
	            </ul>
	        </li>
	        <li class="item-5">
                <!-- 로그인 / 로그아웃 -->
	            <a href="../main/index.html">로그인</a>
	            <!--<a href="#none">로그아웃</a>-->
	        </li>
	    </ul>
	</div>
</header>
<!--//.header-->