@@include('../include/_head.html', {
	"page": "board"
})
	
</head>
<body class="page-board">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <div class="container">
            <!-- tab -->
            <div class="tab-area">
                <ul class="tab-menu">
                    <li class="tab-1 on"><a href="#none">공지사항</a></li>
                    <li class="tab-2"><a href="#none">FAQ</a></li>
                    <li class="tab-3"><a href="#none">문의하기</a></li>
                </ul>
            </div>
           
            <!-- 공지사항 -->
            <section id="tabSec-1" class="board-sec" style="display: block">
                <h2 class="con-tit">공지사항</h2> 
                <!-- sub content -->
                <div class="con-area">
                    <div class="search-area">
                        <div class="search-box">
                            <select name="" id="" class="sel-search">
                                <option value="">제목</option>
                                <option value="">키워드</option>
                            </select>
                            <input type="text" value="" class="in-search">
                            <input type="button" value="검색" class="btn-search">
                        </div>
                    </div>
                    
                    <div class="table-col">
                        <table class="table-style">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                                <col class="nth-4">
                                <col class="nth-5">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>제목</th>
                                    <th>첨부파일</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td class="t-l"><a href="#none" title="상세보기">확정 수익금 및 이자지원금 관련 업무절차 안내 테스트 란 확정 수익금 및 이자지원금 관련 업무절차 안내 테스트 란</a></td>
                                    <td><img src="http://img.ramadapt.co.kr/owenr/board/ico_down.png" alt="첨부파일"></td>
                                    <td>2019-02-01</td>
                                    <td>1020</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td class="t-l"><a href="./index_read.html" title="상세보기">확정 수익금 및 이자지원금 관련 업무절차</a></td>
                                    <td><img src="http://img.ramadapt.co.kr/owenr/board/ico_down.png" alt="첨부파일"></td>
                                    <td>2019-02-01</td>
                                    <td>1020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="pagenation" id="pagenation">
                        <a class="prev" href="">&lt;</a>
                        <a class="on" href="">1</a>
                        <a href="">2</a>
                        <a class="next" href="">&gt;</a>
                    </div>
                </div>
            </section>

            <!-- FAQ -->
            <section id="tabSec-2" class="board-sec faq-sec" style="display: none">
                <h2 class="con-tit">FAQ</h2> 
                <!-- sub content -->
                <div class="con-area">
                    <div class="search-area">
                        <div class="search-box">
                            <select name="" id="" class="search-sel">
                                <option value="">제목</option>
                                <option value="">키워드</option>
                            </select>
                            <input type="text" value="" class="in-search">
                            <input type="button" value="검색" class="btn-search">
                        </div>
                    </div>
                    
                    <div class="table-col">
                        <table class="table-style">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                                <col class="nth-4">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>제목</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4</td>
                                    <td class="t-l"><a href="#none" title="상세보기">확정 수익금 및 이자지원금 관련 업무절차</a></td>
                                    <td>2019-02-01</td>
                                    <td>1020</td>
                                </tr>
                                <tr class="answer">
                                    <td class="ico-answer"><span>A</span></td>
                                    <td class="t-l" colspan="3">
                                        <p>
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 관련 업무절차
                                        </p>
                                   </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="t-l"><a href="#none" title="상세보기">확정 수익금 및 이자지원금 관련 업무절차</a></td>
                                    <td>2019-02-01</td>
                                    <td>1020</td>
                                </tr>
                                <tr class="answer">
                                    <td class="ico-answer"><span>A</span></td>
                                    <td class="t-l" colspan="3">
                                        <p>
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 관련 업무절차
                                        </p>
                                   </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="t-l"><a href="#none" title="상세보기">확정 수익금 및 이자지원금 관련 업무절차</a></td>
                                    <td>2019-02-01</td>
                                    <td>1020</td>
                                </tr>
                                <tr class="answer">
                                    <td class="ico-answer"><span>A</span></td>
                                    <td class="t-l" colspan="3">
                                        <p>
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 관련 업무절차
                                        </p>
                                   </td>
                                </tr>
                                <!-- 1~answer까지 -->
                                <tr>
                                    <td>1</td>
                                    <td class="t-l"><a href="#none" title="상세보기">확정 수익금 및 이자지원금 관련 업무절차</a></td>
                                    <td>2019-02-01</td>
                                    <td>1020</td>
                                </tr>
                                <tr class="answer">
                                    <td class="ico-answer"><span>A</span></td>
                                    <td class="t-l" colspan="3">
                                        <p>
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 관련 업무절차
                                        </p>
                                   </td>
                                </tr>
                                <!--// 1~answer까지 -->
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="pagenation" id="pagenation">
                        <a class="prev" href="">&lt;</a>
                        <a class="on" href="">1</a>
                        <a class="next" href="">&gt;</a>
                    </div>
                </div>
            </section>
                
            <!-- 문의하기 -->
            <section id="tabSec-3" class="board-sec qna-sec" style="display: none">
                <h2 class="con-tit">문의하기</h2> 
                <!-- sub content -->
                <div class="con-area">
                    <div class="search-area">
                        <div class="search-box">
                            <select name="" id="" class="search-sel">
                                <option value="">제목</option>
                                <option value="">키워드</option>
                            </select>
                            <input type="text" value="" class="in-search">
                            <input type="button" value="검색" class="btn-search">
                        </div>
                    </div>
                    
                    <div class="table-col">
                        <table class="table-style">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                                <col class="nth-4">
                                <col class="nth-5">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>제목</th>
                                    <th>첨부파일</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="t-l"><a href="#none" title="상세보기">확정 수익금 및 이자지원금 관련 업무절차</a></td>
                                    <td><img src="http://img.ramadapt.co.kr/owenr/board/ico_down.png" alt="첨부파일"></td>
                                    <td>2019-02-01</td>
                                    <td>1020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <a href="./index_write.html" class="btn-write">글쓰기</a>
                    
                    <div class="pagenation" id="pagenation">
                        <a class="prev" href="">&lt;</a>
                        <a class="on" href="">1</a>
                        <a class="next" href="">&gt;</a>
                    </div>
                </div>
            </section>
        </div>
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>