@@include('../include/_head.html', {
	"page": "board"
})
	
</head>
<body class="page-board">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <div class="container">
            <!-- tab -->
            <div class="tab-area">
                <ul class="tab-menu">
                    <li class="tab-1"><a href="./index.html">공지사항</a></li>
                    <li class="tab-2"><a href="./index_2.html">FAQ</a></li>
                    <li class="tab-3 on"><a href="./index_3.html">문의하기</a></li>
                </ul>
            </div>
           
            <!-- 문의사항 / 자세히보기 -->
            <section id="tabSec-1" class="board-sec qna-sec" style="display: block">
                <h2 class="con-tit">문의하기</h2> 
                <!-- sub content -->
                <div class="con-area">
                    
                    <div class="table-col read">
                        <table class="table-style">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="tit">확정 수익금 및 이자지원금 관련 업무절차</th>
                                    <th>2019-01-20</th>
                                    <th>조회수 : 1020</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <p class="t-txt">
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 
                                        </p>
                                    </td>
                                </tr>
                                <tr class="answer">
                                    <td colspan="3">
                                        <div class="t-tit">
                                            <span class="s-btn-gold">답변완료</span>
                                            <span class="s-1">답변일자: 2019-01-20</span>
                                        </div>
                                        <p class="t-txt">
                                            확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 관련 업무절차<br>
                                            확정 수익금 및 이자지원금 관련 업무절차확정 수익금 및 이자지원금 
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="btn-box">
                        <a href="#none" class="btn-com right">목록</a>
                    </div>
                </div>
            </section>

        </div>
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>