@charset "utf-8";

// common
@import "../parts/common";

.fc-red {
    color: $fc-red-2;
}

//page-proceeds
.contents {
    .container {
        padding: 57px 0 77px;
        @include tab-base;
        
        .prc-sec {
            padding-top: 10px;
            .search-area {
                .search-box {
                    display: inline-block;
                    * {
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .sel-search {
                        @include sel-ser($wd : 174px, $bg-p : -27px);
                        color: $fc-black-1;
                    }
                }
            }
            
            .con-area {
                margin-top: 52px;
                .search-area {
                    .search-box {
                        .lbl {
                            display: inline-block;
                            padding-right: 7px;
                            line-height: 36px;
                            vertical-align: middle;
                            @include l-bul($p-l : 11px, $wh-p : 3px, $t : 17px, $bg : $bg-black-2);
                        }
                        & + .search-box {
                            margin-left: 40px;
                        }
                    }
                }
                
                //table col
                .table-col {
                    @include table-col;
                    margin-top: 22px;
                    colgroup {
                        col {
                            &.nth-1 {
                                width: 15%;
                            }
                            &.nth-2 {
                                width: 22%;
                            }
                            &.nth-3 {
                                width: 15%;
                            }
                            &.nth-4 {
                                width: 18%;
                            }
                            &.nth-5 {
                                width: 20%;
                            }
                            &.nth-6 {
                                width: 10%;
                            }
                        }
                    }
                    .table-style {
                        tbody {
                            tr {
                                td {
                                    font-weight: 300;
                                    &.t-r {
                                        padding-right: 31px;
                                    }
                                    .fc-red {
                                        display: block;
                                    }
                                    a {
                                        vertical-align: middle;
                                        &.btn-apply {
                                            @include btn-com($dis : inline-block, $wd : 134px, $he : 32px, $f-s : 15px, $bd-r : $bd-r-5);
                                        }
                                        &.btn-detail {
                                            @include btn-com($dis : inline-block, $wd : 65px, $he : 30px, $f-s : 13px, $bd-r : $bd-r-0, $btn-bg : $bg-black-1);
                                            font-weight: 300;
                                        }
                                    }
                                }
                            }
                        } 
                    }
                }
                
                @include board-num($m-t : 30px);
                
                .info-box {
                    margin-top: 55px;
                    .bul-list {
                        li {
                            font-size: 15px;
                            line-height: 30px;
                            color: $fc-gray-3;
                            
                            @include l-bul($p-l : 10px, $wh-p : 2px, $t : 15px, $b-r : 0, $bg : $bc-gray-8)
                        }
                    }
                }
            }
        }
        
        /* 이달의 확정 수익금 정산 내역 */
        .prc-sec.end-sec {
            .search-area {
                @include centerThis;
                
                .btn-list { 
                    @include btn-com($po : absolute, $wd : 122px, $he : 40px, $f-s : 18px, $f-c : $fc-black-2, $bd-w : 1px, $bd-c : $bc-black-1, $bd-r : $bd-r-0, $btn-bg : none);
                    top: -40px;
                    left: 0;
                    &.lic-lArrow:before {
                        border-color: $bc-black-1;
                        margin-right: 10px;
                    }
                }
                .search-box {
                    position: absolute;
                    top: -40px;
                    right: 0;
                }
            }
            
            .con-area {
                .prc-box {
                    padding-top: 48px;
                    text-align: left;
                    &:first-child {
                        padding-top: 0;
                    }
                    
                    .bul-txt {
                        margin: 5px 0 13px 17px;
                        font-size: 17px;
                        font-weight: 500;
                        line-height: 17px;
                        @include l-bul($t : 8px);
                    }
                    
                    .table-row {
                        @include table-row($f-s : 15px, $td-f-s : 15px, $th-pd : 0 15px, $td-pd : 9px 22px 9px 17px, $w-th : 180px);

                        .table-style{
                            colgroup {
                                col {
                                    &.nth-1, &.nth-3 {
                                        width: 18%;
                                    }
                                    &.nth-2, &.nth-4 {
                                        width: 32%;
                                    }
                                }
                            }
                            td {
                                .s-1 { 
                                    @include btn-com($wd : auto, $he : 30px, $pd : 0 6px, $f-s : 13px, $bd-r : $bd-r-0, $btn-bg : $bc-black-1);
                                    margin-left: 14px;
                                }
                            }

                            //가운데 정렬
                            .t-l {
                                text-align: center;
                            }

                            //td 전체 우측정렬
                            &.td-rt {
                                td {
                                    text-align: right;
                                }
                            }
                        }
                        
                        // 공급 면적 및 공급 가격 정보
                        &.col-5 {
                            .table-style{
                                colgroup {
                                    col {
                                        &.nth-1, &.nth-4 {
                                            width: 18%;
                                        }
                                        &.nth-2, &.nth-3 {
                                            width: 16%;
                                        }
                                        &.nth-5 {
                                            width: 32%;
                                        }
                                    }
                                }
                                
                                td + td {
                                    border-left: 1px solid $bc-gray-4;
                                }
                            }
                        }
                    }
                    
                    .table-col {
                        margin-top: 0;
                        .table-style{
                            colgroup {
                                col {
                                    &.nth-1 {
                                        width: 14%;
                                    }
                                    &.nth-2 {
                                        width: 12.5%;
                                    }
                                    &.nth-3 {
                                        width: 23.5%;
                                    }
                                    &.nth-4 {
                                        width: 29%;
                                    }
                                    &.nth-5 {
                                        width: 21%;
                                    }
                                }
                            }
                            
                            tbody {
                                th, td {
                                    padding: 10px 18px;
                                    font-weight: 400;
                                    text-align: left;
                                    
                                    &.t-r {
                                        text-align: right;
                                    }
                                    
                                    //table 해당 배경 있는 태그에 클래스 추가
                                    &.bg-red {
                                        background: $bg-red-2;
                                        & + td {
                                            border-left-width: 0;
                                        }
                                        & + .bg-red {
                                            border-left-width: 1px;
                                        }
                                    }
                                    &.bg-yellow {
                                        padding-top: 20px;
                                        padding-bottom: 20px;
                                        background: $bg-yellow-2;
                                        & + td {
                                            border-left-width: 0;
                                        }
                                    }
                                }
                                //th 별도 pr 없애기
                                th {
                                    padding-right: 0;
                                }
                                td {
                                    &.bg-red {
                                        border-left: 1px solid $bc-gray-1;
                                    }
                                }
                            }
                            
                        }
                    }
                    
                    .p-mark {
                        margin: 15px 0 0 19px;
                    }
                }
                
                .btn-box {
                    margin-top: 70px;
                }
            }
        }
    }
}

/* 수익금 입금신청 팝업 */
#pop_apply.pop-wrap {
    .pop-container {
        .pop-con {
            width: 730px;
            padding: 77px 25px 36px;
            .p-0 {
                padding-bottom: 20px;
            }
            .btn-box {
                margin-top: 58px;
            }
        }
    }
}


/* ie8 */
.ie .contents {
    .container {
        .tab-area {
            .tab-menu {
                li {
                    a {
                        letter-spacing: -1.2px;
                    }
                }
            }
        }
    }
}
