@@include('../include/_head.html', {
	"page": "main"
})
	
</head>
<body class="page-main">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <section class="main-sec">
            <div class="main-area">
                <!-- 로그인 완료 화면 영역 -->
                <div class="main-box login-cm">
                    <p class="p-1">
                        <span class="cm-num">1116</span>호 <span class="cm-name">홍길동</span>님<br>
                        <em class="cm-t-deco">수익금 지급 등록 홈페이지 방문</em>을<br>
                        환영합니다!
                    </p>
                    <p class="p-2">
                        탁 트인 서녘하늘의 석양과 평택바다의 물결이 창 밖의 한편의 그림같은 전망이 되는 곳.<br>
                        라마다 평택호텔 앙코르에서 누리게 될 가장 큰 가치는 당신의 즐거운 쉼입니다.
                    </p>
                </div>
                <!--//.main-box -->
            </div>
            <!--//.main-area -->
        </section>
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>