@@include('../include/_head.html', {
	"page": "main"
})
	
</head>
<body class="page-main">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <section class="main-sec">
            <div class="main-area">
                <!-- 수분양자 인증 및 회원가입 영역 -->
                <div class="main-box login">
                    <h2 class="con-tit">수분양자 인증 및 회원가입</h2> 

                    <div class="form-area">
                        <div class="form-box">
                            <div class="row">
                                <label for="roomNum" class="lbl">계약호수</label>
                                <input type="number" id="roomNum" class="in-txt" placeholder="분양받은 1개호의 호수 숫자만 입력해주세요.">
                            </div>
                            <div class="row">
                                <label for="name" class="lbl">성명</label>
                                <input type="text" id="name" class="in-txt" placeholder="성명을 입력해주세요.">
                            </div>
                            <div class="row">
                                <label for="test1" class="lbl">생년월일</label>
                                <p class="reg-box">
                                    <input type="number" id="test1" class="in-txt" placeholder="주민등록번호 앞6자리">
                                    <span>-</span>
                                    <input type="paswword" id="test2" class="in-txt" placeholder="주민등록번호 뒤3자리">
                                    <!-- 이렇게 추가 -->
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </p>
                            </div>
                            <div class="row">
                                <label for="roomNum" class="lbl">휴대폰</label>
                                <input type="number" id="roomNum" class="in-txt" placeholder="휴대혼번호 뒤 4자리를 입력해주세요">
                            </div>
                        </div>
                        <a href="../join/index.html" class="btn-login">인증 및 회원가입</a>
                    </div>
                    
                    <a href="index.html" class="btn-sign ic-rArrow">로그인</a>

                </div>
                <!--//.main-box -->
            </div>
            <!--//.main-area -->
        </section>
	</div>
	<!--//.contents--> 
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>